@model FaroTemperature.Models.TemperatureModel 

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img class="img-fluid rounded" src="~/img/logo.png" />
    <h1 class="display-4">The current temperature in Faro is @Model.TempString&deg;C</h1>
    <p>Note: temperature reading was obtained using HTML scraping on @DateTime.Now (local time)</p>
    
     
</div>
